p {
    text-align: center;
}
.outer {
    width: 1000px;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    background-color: #cfcfcf;
}

.inner {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #66acb1;
}

.field {
    width: 100px;
    height: 20px;
    color: #a9fff1;
    border-block-color: black;
    border: solid 2px;
}
.iubp, .napravlenie, .name1, .name2, .name3, .sex, .date, .number, .e-mail, .file 
{
    width: 300px;
    padding : 0px;
    box-sizing : border-box;
}
@media only screen and (min-width:0px) and (max-width: 1200px) {
    label {
        display: none;
    }
    
}
@media only screen and (min-width:1200px) {
    input::placeholder {
        color: transparent;
    }
}


